-- ============================================
-- SCRIPT DE DATOS PARA M╙DULOS Y PERMISOS
-- ============================================

-- Tipos de Usuario
INSERT INTO accounts_tipousuario (id, nombre, descripcion, creado_en, actualizado_en) VALUES (1, 'Medico', 'Es el primer medico', NOW(), NOW()) ON CONFLICT (id) DO NOTHING;
INSERT INTO accounts_tipousuario (id, nombre, descripcion, creado_en, actualizado_en) VALUES (2, 'Recepcion de Admision', 'Es el personal de Admision quien registra pacientes y agenda citas de ecografia', NOW(), NOW()) ON CONFLICT (id) DO NOTHING;
INSERT INTO accounts_tipousuario (id, nombre, descripcion, creado_en, actualizado_en) VALUES (3, 'Encargado de Admision', 'Es el encargado de Admision', NOW(), NOW()) ON CONFLICT (id) DO NOTHING;


-- M≤dulos
INSERT INTO permisos_modulo (id, nombre, descripcion, icono, url, orden, activo, asignable, modulo_padre_id) 
VALUES (1, 'Dashboard', '', 'fas fa-home', '/dashboard/', 1, True, True, NULL) 
ON CONFLICT (id) DO UPDATE SET nombre=EXCLUDED.nombre, url=EXCLUDED.url, icono=EXCLUDED.icono, orden=EXCLUDED.orden;
INSERT INTO permisos_modulo (id, nombre, descripcion, icono, url, orden, activo, asignable, modulo_padre_id) 
VALUES (2, 'Gestionar Pacientes', '', 'fas fa-users', '/pacientes/', 2, True, True, NULL) 
ON CONFLICT (id) DO UPDATE SET nombre=EXCLUDED.nombre, url=EXCLUDED.url, icono=EXCLUDED.icono, orden=EXCLUDED.orden;
INSERT INTO permisos_modulo (id, nombre, descripcion, icono, url, orden, activo, asignable, modulo_padre_id) 
VALUES (3, 'Citas Medicas', '', 'fas fa-calendar-alt', '/citas/', 3, True, True, NULL) 
ON CONFLICT (id) DO UPDATE SET nombre=EXCLUDED.nombre, url=EXCLUDED.url, icono=EXCLUDED.icono, orden=EXCLUDED.orden;

-- Roles por Defecto (relaci≤n many-to-many)
INSERT INTO permisos_modulo_roles_por_defecto (modulo_id, tipousuario_id) VALUES (2, 3) ON CONFLICT DO NOTHING;
INSERT INTO permisos_modulo_roles_por_defecto (modulo_id, tipousuario_id) VALUES (2, 2) ON CONFLICT DO NOTHING;
INSERT INTO permisos_modulo_roles_por_defecto (modulo_id, tipousuario_id) VALUES (12, 1) ON CONFLICT DO NOTHING;

-- Permisos
INSERT INTO permisos_permiso (tipo_usuario_id, modulo_id, tipo_permiso, visible) 
VALUES (5, 2, 'sin_acceso', False) 
ON CONFLICT (tipo_usuario_id, modulo_id) DO UPDATE SET tipo_permiso=EXCLUDED.tipo_permiso, visible=EXCLUDED.visible;
INSERT INTO permisos_permiso (tipo_usuario_id, modulo_id, tipo_permiso, visible) 
VALUES (5, 3, 'sin_acceso', False) 
ON CONFLICT (tipo_usuario_id, modulo_id) DO UPDATE SET tipo_permiso=EXCLUDED.tipo_permiso, visible=EXCLUDED.visible;
INSERT INTO permisos_permiso (tipo_usuario_id, modulo_id, tipo_permiso, visible) 
VALUES (5, 12, 'sin_acceso', False) 
ON CONFLICT (tipo_usuario_id, modulo_id) DO UPDATE SET tipo_permiso=EXCLUDED.tipo_permiso, visible=EXCLUDED.visible;

-- ============================================
-- FIN DEL SCRIPT
-- ============================================
