/* .confirm-form {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}

.btn-danger {
  background: var(--color-error);
  padding: .7rem 1.2rem;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.btn-danger:hover {
  filter: brightness(0.9);
}

.btn-secondary {
  padding: .7rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-borde-input);
  text-decoration: none;
  color: var(--color-texto);
  transition: .2s;
}

.btn-secondary:hover {
  background: var(--color-fondo-informacion);
} */
