/* .tipo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tipo-form input,
.tipo-form textarea,
.tipo-form select {
  width: 100%;
  padding: .7rem;
  border-radius: 8px;
  border: 1px solid var(--color-borde-input);
  background: var(--color-fondo-input);
  color: var(--color-texto);
}

.btn {
  background: var(--color-boton-principal);
  padding: .7rem 1.2rem;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn-secondary {
  margin-left: .5rem;
  text-decoration: none;
  padding: .7rem 1rem;
  border: 1px solid var(--color-borde-card);
  border-radius: 8px;
  color: var(--color-texto);
  transition: .2s;
}

.btn-secondary:hover {
  background: var(--color-fondo-informacion);
} */
