{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/accounts/usuarios/users.css">
<link rel="stylesheet" href="/static/css/accounts/usuarios/modals/editar.css">
<link rel="stylesheet" href="/static/css/accounts/usuarios/modals/view.css">
<link rel="stylesheet" href="/static/css/accounts/usuarios/modals/deshabilitar.css">

{% endblock %}
{% block content %}

<section class="card usuarios-lista">
  <h2>Usuarios</h2>

  {% if puede_admin %}
  <p>
    <button class="btn" id="btn-open-create">Nuevo usuario</button>
  </p>
  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre Complemento</th>
        <th>CI</th>
        <th>Correo</th>
        <th>Fecha de Nacimiento</th>
        <th>Sexo</th>
        <th>Celular</th>
        <th>Rol</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for u in usuarios %}
      {% with p=u.perfil %}
      <tr data-id="{{ u.id }}"
            data-username="{{ u.username }}"
            data-nombres="{{ p.nombres}}"
            data-apellido_paterno="{{ p.apellido_paterno|default:'' }}"
            data-apellido_materno="{{ p.apellido_materno|default:'' }}"
            data-email="{{ p.correo|default:'' }}"
            data-ci="{{ p.ci|default:'' }}"
            data-complemento="{{ p.complemento_ci|default:'' }}"
            data-expedido="{{ p.expedido|default:'' }}"
            data-nacimiento="{{ p.fecha_nacimiento|default:'' }}"
            data-sexo="{{ p.sexo|default:'' }}"
            data-telefono="{{ p.telefono|default:'' }}"
            data-celular="{{ p.celular|default:'' }}"
            data-direccion="{{ p.direccion|default:'' }}"
            data-rol="{% if p.tipo %}{{ p.tipo.nombre|default:'' }}{% endif %}"
            data-contratoid="{% if p.contrato %}{{ p.contrato.id }}{% endif %}"

            {% if u.medico %}
                data-especialidadid="{{ u.medico.especialidad.id|default:'' }}"
                data-especialidad="{{ u.medico.especialidad.nombre|default:'' }}"
                data-matricula="{{ u.medico.nro_matricula|default:'' }}"
                data-consultorio="{{ u.medico.consultorio|default:'' }}"
                data-dias="{{ u.medico.dias_atencion|default:'' }}"
                data-lunes="{{ u.medico.dias_atencion.lunes|yesno:'1,0' }}"
                data-martes="{{ u.medico.dias_atencion.martes|yesno:'1,0' }}"
                data-miercoles="{{ u.medico.dias_atencion.miercoles|yesno:'1,0' }}"
                data-jueves="{{ u.medico.dias_atencion.jueves|yesno:'1,0' }}"
                data-viernes="{{ u.medico.dias_atencion.viernes|yesno:'1,0' }}"

                data-turnos-med="{% for t in u.medico.turnos.all %}{{ t.id }}{% if not forloop.last %},{% endif %}{% endfor %}"
            {% endif %}

            {% if u.admision %}
                data-ventanilla="{{ u.admision.ventanilla|default:'' }}"
                data-turnos-med="{% for t in u.admision.turnos.all %}{{ t.id }}{% if not forloop.last %},{% endif %}{% endfor %}"

            {% endif %}

            {% if u.encargado_admision %}
                data-ventanillaenc="{{ u.encargado_admision.ventanilla|default:'' }}"
                data-turnos-med="{% for t in u.encargado_admision.turnos.all %}{{ t.id }}{% if not forloop.last %},{% endif %}{% endfor %}"

            {% endif %}
        >
        <td>{{ u.username }}</td>
        <td>
          {{ p.nombres }} {{ p.apellido_paterno }} {{ p.apellido_materno }}
        </td>
        <td>{{ p.ci }}</td>
        <td>{{ p.correo }}</td>
        <td>{{ p.fecha_nacimiento }}</td>
        <td>{{ p.sexo }}</td>
        <td>{{ p.celular }}</td>
        <td>
          {% if p.tipo %}
            {{ p.tipo.nombre }}
          {% else %}
            Sin rol
          {% endif %}
        </td>
        <td>
          {% if u.is_active %}
            <span class="estado activo">Activo</span>
          {% else %}
            <span class="estado inactivo">Inactivo</span>
          {% endif %}
        </td>

        <!-- Acciones -->
        <td class="actions">
          <button class="btn btn-view" data-id="{{ u.id }}">Ver</button>

          {% if puede_admin %}
          <button class="btn btn-edit" data-id="{{ u.id }}">Editar</button>
          <button 
              class="btn btn-toggle"
              data-id="{{ u.id }}"
              data-username="{{ u.username }}"
              data-active="{{ u.is_active }}">
              {% if u.is_active %}
                  Desactivar
              {% else %}
                  Activar
              {% endif %}
          </button>
          {% endif %}
        </td>
      </tr>
      {% endwith %}
      {% empty %}
      <tr><td colspan="5">Sin usuarios registrados</td></tr>
      {% endfor %}
    </tbody>

  </table>
</section>

{% include "./modals/crear.html" %}
{% include "./modals/editar.html" %}
{% include "./modals/ver.html" %}
{% include "./modals/deshabilitar.html" %}

{% endblock %}

{% block extra_js %}
<script src="/static/js/accounts/usuarios/users.js"></script>
<script src="/static/js/accounts/usuarios/modals/deshabilitar.js"></script>
<script src="/static/js/accounts/usuarios/modals/view.js"></script>
<script src="/static/js/accounts/usuarios/modals/editar.js"></script>

{% endblock %}
