<div class="modal modal-view" id="modal-view">
  <div class="modal-overlay" data-close></div>

  <div class="modal-box modal-view-box">
    <h3>Ver Especialidad</h3>

    <div class="modal-field">
        <label>Nombre:</label>
        <p id="view-nombre"></p>
    </div>

    <div class="modal-field">
        <label>Descripción:</label>
        <p id="view-descripcion"></p>
    </div>

    <div class="modal-actions">
        <button class="btn-modal-cancel btn-close-view">Cerrar</button>
    </div>
  </div>
</div>
