<div id="modal-view" class="modal">
    <div class="modal-panel">

        <h3 style="margin-bottom: 10px; font-weight: 700;">Ver Especialidad</h3>

        <div class="form-row">
            <label>Nombre:</label>
            <p id="view-nombre"></p>
        </div>

        <div class="form-row">
            <label>Descripción:</label>
            <p id="view-descripcion"></p>
        </div>

        <div class="modal-actions">
            <button class="btn-cancel-modal btn-close-view">Cerrar</button>
        </div>
    </div>
</div>
