/* MODAL CONFIRMAR BLOQUEO */

.modal-confirm-block-box h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: #1f2937;
}

.modal-confirm-block-box p {
    font-size: 0.95rem;
    color: #374151;
    margin-bottom: 18px;
}
