/* MODAL CONFIRMAR BLOQUEO */

.modal-confirm-block-box h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-texto);
}

.modal-confirm-block-box p {
    font-size: 0.95rem;
    color: var(--color-texto);
    margin-bottom: 18px;
}
