/* MODAL VER ESPECIALIDAD */

.modal-view-box h3 {
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--color-texto);
}

.modal-view-box p {
    background: var(--color-fondo-input);
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--color-borde-input);
    font-size: 0.95rem;
    color: var(--color-texto);
}
