/* MODAL VER ESPECIALIDAD */

.modal-view-box h3 {
    font-weight: 700;
    margin-bottom: 16px;
    color: #1f2937;
}

.modal-view-box p {
    background: #f3f4f6;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 0.95rem;
    color: #374151;
}
